{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": [
		"/out",
		"/tests"
	],
	"plugins": [
		"@typescript-eslint",
		"roblox-ts",
		"prettier"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"no-param-reassign": "error",
		"prefer-const": [
			"error",
			{
				"destructuring": "all"
			}
		],
		"no-var": "error",
		"@typescript-eslint/explicit-function-return-type": "warn",
		"@typescript-eslint/array-type": [
			"warn",
			{
				"default": "generic",
				"readonly": "generic"
			}
		],
		"@typescript-eslint/explicit-member-accessibility": [
			"warn",
			{
				"overrides": {
					"constructors": "no-public"
				}
			}
		]
	}
}
