/node_modules
/out
/include
/build

*.tsbuildinfo
*.tgz

# For mac users
*.DS_store

# Settings (don't know why we would want other's settings as well, this is per user
.vscode/*
!.vscode/extensions.json